APP_PASSWORD=password

# Model configurations
STORY_MODEL=SuperSmart
TITLE_MODEL=QuickModel
IMG_MODEL=Chroma

# API endpoints
BASE_URL=http://10.36.72.1:3000/v1
IMG_URL=http://10.36.72.1:3000/v1
TTS_URL=http://10.36.72.1:8880/v1

#keys
FREESOUND_API_KEY=
LLM_API_KEY=your_llm_api_key_here
TTS_API_KEY=your_tts_api_key_here

# File paths
BASE_PROMPT_PATH=./prompts/base.txt
OUTPUT_DIR=./
WORLDBOOK_DIR=./worldbooks
SERIES_DIR=./series
FEATURES_FILE=./prompts/features.txt
SFX_DIR=./sfx

